# Analysis of Historical Windspeeds in Ireland

Downloading data in the command line using ``wget -O`` from [data.gov.ie](https://data.gov.ie/organization/meteireann?q=wind&sort=score+desc%2C+metadata_modified+desc)

I chose 5 dataframes to represent regions North, South, East, West and the Midlands. These being: Malin head, Roches Point, Dublin airport, Belmullet and Mullingar, respectively.

The aim is for the analysis to be as comprehensive as possible whilst retaining manageability.

In [22]:
# import necessary libraries
import pandas as pd

## Loading and Inspecting the Data sets

Before I begin I will need to review each data set as there are sometimes different columns and different start dates for each. I will also need to inspect for missing values and clean up the data before creating my analysis.

### Roches Point (South)

In [23]:
filepath1 = r"C:\Users\joann\Desktop\PFDA-project\dataframes\roches_point.csv"
df_south = pd.read_csv(filepath1, skiprows= 24)
df_south.head()

,date,ind,maxtp,ind.1,mintp,igmin,gmin,ind.2,rain,cbl,...,ddhm,ind.5,hg,soil,pe,evap,smd_wd,smd_md,smd_pd,glorad
0,01-dec-1955,0,10.9,0,5.9,,,0,9.1,1004.2,...,170,0,24,,,,,,,
1,02-dec-1955,0,12.1,0,4.0,,,0,0.9,1011.2,...,210,0,32,,,,,,,
2,03-dec-1955,0,10.7,0,6.4,,,3,0.0,1018.2,...,270,0,21,,,,,,,
3,04-dec-1955,0,11.6,0,4.8,,,0,1.5,1026.6,...,210,0,23,,,,,,,
4,05-dec-1955,0,11.8,0,10.7,,,0,0.8,1023.2,...,220,0,32,,,,,,,

In [24]:
df_south.describe()

,ind,ind.1,ind.2,ind.3,ind.4,ind.5
count,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000,21436.000000
mean,0.013109,0.026078,0.615040,0.003732,0.146483,0.003825
std,0.225639,0.251927,1.167344,0.068201,1.724912,0.069550
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.000000,4.000000,8.000000,2.000000,111.000000,2.000000

In [25]:
df_south.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21436 entries, 0 to 21435
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    21436 non-null  object
 1   ind     21436 non-null  int64
 2   maxtp   21436 non-null  object
 3   ind.1   21436 non-null  int64
 4   mintp   21436 non-null  object
 5   igmin   21436 non-null  object
 6   gmin    21436 non-null  object
 7   ind.2   21436 non-null  int64
 8   rain    21436 non-null  object
 9   cbl     21436 non-null  object
 10  wdsp    21436 non-null  object
 11  ind.3   21436 non-null  int64
 12  hm      21436 non-null  object
 13  ind.4   21436 non-null  int64
 14  ddhm    21436 non-null  object
 15  ind.5   21436 non-null  int64
 16  hg      21436 non-null  object
 17  soil    21436 non-null  object
 18  pe      21436 non-null  object
 19  evap    21436 non-null  object
 20  smd_wd  21436 non-null  object
 21  smd_md  21436 non-null  object
 22  smd_pd  21436 non-null  object
 23  glorad  21436 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.9+ MB